<section class="component__table component__table--list">
    <table>

        <% if (data) { %>
            <% data.forEach(function(user){ %>
                <tbody class="component__tbody">

                    <tr class="component__tbody_row--1">
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                    </tr>

                    <tr class="component__tbody_row--2">

                        <td><a href="/users/edit/<%= user.id %>"><i class="gg-pen"></i></a></td>

                        <td>
                            <div>
                                <form action="/users/delete/<%= user.id %>" method="post">

                                    <%- include('../templates/component__button--submit') %>

                                        <input type="hidden" name="_method" value="DELETE">
                                </form>
                            </div>
                        </td>

                        <td>
                            Age <%= user.age %>
                        </td>
                        <td>
                            ID <%= user.id %>
                        </td>

                    </tr>
                </tbody>

                <% }) %>
                    <% } %>
    </table>
</section>