<%- include('../templates/header') %>

    <form action="/users/edit/<%= id %>" method="post" name="form1" autocomplete="off">
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <div class="form__input">
                        <input type="text" name="name" id="name" value="<%= name %>" autocomplete="nope" autofocus>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>
                    <div class="form__input">
                        <input type="text" name="age" id="age" value="<%= age %>">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <!-- https://gist.github.com/runspired/b9fdf1fa74fc9fb4554418dea35718fe -->
                    <input type="text" name="fake-email-remembered" id="fake-email" style="display:none;">
                    <div class="form__input">
                        <input type="text" name="email" id="email" value="<%= email %>" autocomplete="nope">
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="form__input">
                        <input class="form__submit" type="submit" name="Submit" value="Update">
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <%- include('../templates/footer') %>