<%- include('../templates/header') %>

    <div class="table__row">
        <table class="mui-table mui-table--bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Action</th>
            </tr>

            <% if (data) { %>
                <% data.forEach(function(user){ %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.age %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td><a href="/users/edit/<%= user.id %>">Edit</a></td>
                        <td>

                            <div class="form__table">
                                <form action="/users/delete/<%= user.id %>" method="post">
                                    <input type="submit" name="delete" value='Delete'
                                        onClick="return confirm('Are you sure you want to delete?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                </form>
                            </div>

                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
        </table>
    </div>

    <%- include('../templates/footer') %>